@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
}

p {
text-align: center;
font-weight: 700;
font-size: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* line-height: 8.5; */
}

h1 {
  font-family: 'Noto Serif', Georgia, serif;
  font-weight: 300;
  margin: 0;
}

header {
  background-color: black;
  color: white;
  padding: 1rem;
}

header a, .random-recipe {
  color: white;
  display: flex;
  justify-content: space-between;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
} 

img {
  width: 100%;
}

.card-back {
  padding-top: 20px;
  width: 40%;
  height: 50%;
}

.card-details{
  display: flex;
 align-items: center;

}
.card {
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: grid;
}

.card-title {
  background-color: #276074;
  color: white;
  border-radius: 0 0 1rem rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.details-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details {
  padding: 1rem;
  text-align: center;
}

.ingredient-details{
  border-style: double;
}

.instructions {
  border-style: dotted;
  list-style-type: none;
}
ul {
  list-style-type: none;
}

h2 {
font-size: 18px;
font-weight: 400;
} 

.random-different-button{
  font-size: 15px;
}

.search-bar {
  text-align: center;
  font-size: 24px;
}


footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  color: white;
  padding: 1rem;
}
